
.circle-button {
  --background: var(--color-secundary);
  height: 60px;
  width: 60px;
  --border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
  color: #808080;
}

.active {
  background: var(--color-dark);
  color: #a364da;
}


/* .add-device {
  color:#a364da;
} */

.circle-device-group {
  display: flex;
  gap: 10px;
}

.air-controll-buttons ion-button {
  text-align: center;
  --background: var(--color-dark);
  color: #a364da;
  --padding-end: 15px;
  --padding-start: 15px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-radius: 15px;
}
