/*global*/
.card-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: start;
}

.card {
  flex: 1 1 200px;
  min-width: 120px;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.disabled {
  background-color: var(--color-secundary);
}

.enable {
  background: #a364da;
  background: linear-gradient(
    137deg,
    rgba(163, 100, 218, 1) 0%,
    rgba(153, 118, 184, 1) 46%,
    rgba(87, 53, 116, 1) 93%
  );
  color: var(--color-dark);
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--color-dark);
}

.device-name {
  padding: 0 0 20px 0;
}

.enable .circle-icon i {
  color: #a364da;
  font-size: 1.2rem;
}
.disabled .circle-icon i {
  color: var(--color-text);
  font-size: 1.2rem;
}

.enable ion-card-subtitle {
  color: var(--color-dark);
}

/*air-conditione*/

.current-temperature {
  font-size: 2.8rem;
}

/*lamp*/

.power-switch {
  margin: 20px 0;
  position: relative;
  width: 80px;
  height: 48px;
}

.power-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #111;
  border-radius: 50px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: left;
  
}

.slider .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-size: 20px;
  transition: 0.4s;
}

.icon {
  font-size: 30px;
}

input:checked + .slider {
  justify-content: right;
}

input:checked + .slider .icon {

  background: #a364da;
  background: linear-gradient(
    137deg,
    rgba(163, 100, 218, 1) 0%,
    rgba(153, 118, 184, 1) 46%,
    rgba(87, 53, 116, 1) 93%
  );
}

