@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

ion-content {
  --background: #ffffff;
  --margin: 30px;
}

h1,
p {
  font-family: "Poppins", sans-serif;
}

.firebase-auth-error,
.firebase-credentials-error {
  color: red;
  font-size: 14px;
  padding: 30px 0px 0px 20px;
}

/* Home */

.text {
  margin-bottom: 30px;
  padding: 10px 0 10px 0;
  color: #0000009b;
}

.home-buttons {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Login */

.login h1,
.sign-up h1 {
  color: #000000;
  padding: 0px 0px 30px 0px;
}

.icon-button {
  --background: #f0f0f0;
  --border-color: #cccccc;
  --color: #000000;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
}

.validate-error {
  padding-left: 20px;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.forgot-password .primary-button,
.sign-up .primary-button {
  margin-top: 30px;
}

.primary-button {
  --color: #ffffff;
  --border-radius: 25px;
  height: 50px;
}

.secondary-button {
  --color: #ffffff;
  --border-radius: 25px;
  height: 50px;
}

label {
  display: block;
  font-size: 13px;
  color: #000000b4;
  margin-bottom: 10px;
}

.full-name-input,
.email-input,
.password-input {
  --background: #f0f0f0;
  --border-radius: 20px;
  height: 50px;
  --padding-end: 20px;
  --padding-start: 20px;
  --highlight-color-focused: transparent;
}

.icon-input {
  color: #00000084;
}

.login .email-group,
.sign-up .email-group,
.full-name-group {
  margin-bottom: 20px;
}

.forgot-password-button {
  font-family: poppins, sans-serif;
  text-decoration: underline;
  --color: #000000;
  --font-size: 14px;
  --padding-bottom: 25px;
  --padding-top: 25px;
}

.signInWith {
  margin-top: 30px;
  text-align: center;
  color: #000000b7;
}

.signInWith p {
  margin-bottom: 20px;
}

.signInWith-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
