ion-content.home {
  --background: var(--color-dark);
}

.home h1 {
  color: #575858;
  font-size: 1.2rem;
  margin: 30px 0;
}

p {
  color: #ffffff;
  font-weight: 100;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #f7baff;
}

.profile-picture p {
  color: #043e68;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-greeting-group p {
  font-size: 0.7rem;
}

#name {
  font-weight: 700;
  margin-top: -10px;
}
