@import "./variables.css";
@import "./pages/home.css";
@import "./components/cards.css";
@import "./components/buttons.css";
@import "./components/inputs.css";

/*.bottom-navegation-bar {
  position: fixed;
  top: 90vh;
  width: 300px;
  background: var(--color-secundary);
  padding: 20px;
  border-radius: 40px;
}
*/